@use '../../sass/variables.scss' as v;

.container {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-bottom: 2rem;

  @media (max-width: 768px) {
    width: 90%;
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
}

.addEmployeePanel {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;
  border-bottom: 1px solid v.$light-grey;

  button {
    padding: 0.6rem 1.2rem;
    background-color: v.$light-grey;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      padding: 0.3rem 0.6rem;
      font-size: 0.65rem;
    }
  }
}

.employees {
  display: flex;
  flex-direction: column;
}

.buttonsField {
  display: flex;
  gap: 1rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
  }
}

.noResults {
  font-size: 0.85rem;
}

.searchBar {
  input {
    margin-top: 2rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 8px;
    border: 1px solid #3f4756;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.5rem;
    background-color: v.$light-grey;
    width: 30%;

    @media (max-width: 768px) {
      width: 60%;
    }
  }
}
