@use '../../sass/variables.scss' as v;

.container {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 2rem;

  @media (max-width: 768px) {
    width: 90%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input {
    padding: 0.5rem;
    outline: none;
  }

  span {
    color: red;
    font-size: 12px;
    margin-top: -0.25rem;
  }

  .personalInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
      width: 30%;

      @media (max-width: 768px) {
        width: 65%;
      }
    }
  }

  .contactDetails {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .email {
      width: 40%;

      @media (max-width: 768px) {
        width: 65%;
      }
    }
  }
}

.employeeStatus {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.buttonsContainer {
  display: flex;
  gap: 0.75rem;
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

.save,
.cancel {
  display: flex;
  justify-content: center;
  padding: 0.6rem 3rem;
  background-color: v.$light-grey;
}

.phone {
  width: 15%;

  @media (max-width: 768px) {
    width: 35%;
  }
}

.address {
  width: 40%;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.disclaimer {
  font-size: 0.7rem;
  margin-top: -0.5rem;
  opacity: 0.75;
}

.contractP {
  font-weight: 500;
}

.contractLabel,
.checkboxLabel {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.95rem;
  margin-left: 0.25rem;

  input {
    transform: scale(1.4);
    margin-bottom: 0.25rem;
  }
}

.checkboxLabel {
  margin-bottom: 0.25rem;
}

.dateField {
  width: max-content;
}

.finishDateField {
  margin-bottom: 0.25rem;
}

.hours {
  margin-top: 0.5rem;
}

.hoursField {
  width: 10%;
  margin-top: 0.5rem;
  @media (max-width: 768px) {
    width: 20%;
  }
}
